body {width:50%;
	margin: auto;}
	
.space {margin: 0 0 8px 0;}

.strong {font-weight: bold;}

.small {font-size: 10pt;}

#size {width: 133px;}

fieldset {margin-bottom: 15px;}

.margin {margin-bottom: 15px;
		margin-top: 10px;}
	


